body {
	background-color: white;
}
.content {
	width: 1200px;
	height: 700px;
	background-color: #fffff8;
}
h1 {
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
}
div {
	width: 100%;
}
.center {
	text-align: center;
}
p {
	position: relative;
	width: 30%; 
	height: 150px;
	background-color: grey;
	margin-right: 10px;
	padding: 5px;
	border: 2px solid black;
	float: left;

}
span {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #f00000;
	font-weight: bold;
	font-size: 20px;
	padding: 7px;
	width: 100px;
	border: 2px solid black;
}
@media (min-width: 992px) {

}
@media (min-width: 768px) and (max-width: 991px) {
p {
	width: 40%;
}
.content {
	width: 800px;
	height: 700px;
}
.third {
	width: 83.5%;
}
}
@media (max-width: 767px) {
p {
	width: 100%;
}
.content {
	width: 500px;
	height: 700px;
}
